<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superts.hkplugin">
    <application>
		<!-- 添加我們剛剛建立的 Activity -->
		<activity android:name="com.supergame.party.sgplugin.MainActivity" />
    </application>
   
</manifest>
